# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# SQLite
*.db
instance/

# VS Code
.vscode/

# Environment variables
.env

# Terraform
terraform/.terraform/
.terraform/

*.tfstate
*.tfstate.*
crash.log

# Do NOT commit secrets
terraform.tfvars

# Keep provider lock file
!.terraform.lock.hcl
!terraform/.terraform.lock.hcl