<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud ELN</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>

    <h2>Cloud ELN</h2>

    <nav>

        <a href="/">Home</a>

    </nav>

    <hr>

</header>

<main>

{% block content %}

{% endblock %}

</main>

<hr>

<footer>

    <p>© 2026 Cloud ELN</p>

</footer>

</body>
</html>